.advertised-iteams{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (min-width:1279px) and (max-width:1500px) {
    .advertised-iteams{
        grid-template-columns: 1fr 1fr;
    }
}


@media only screen and (min-width:769px) and (max-width:1279px){
    
    .advertised-iteams{
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
}
@media only screen and (min-width:281px) and (max-width:807px){
    .advertised-iteams{
        grid-template-columns:1fr ;
        padding: 0;
    }
}